body {
    background: #0a0f24;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 40px;
    margin-bottom: 20px;
    color: #5af7ff;
    text-shadow: 0 0 15px #00eaff;
}

.input-area {
    margin-bottom: 20px;
}

select, button {
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin: 5px;
}

button {
    background: #00eaff;
    cursor: pointer;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 10px #00eaff;
}

button:hover {
    box-shadow: 0 0 20px #00eaff;
}

/* 7 günlük hava kartları */
#weather-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weather-card {
    background: rgba(0, 255, 255, 0.1);
    border: 1px solid #00eaff;
    width: 150px;
    padding: 15px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 0 12px #00eaff;
    text-align: center;
}

.weather-card img {
    width: 60px;
    height: 60px;
}
